
:root,
body {
	margin: 0;
	height: 100vh;
}

body{
    display: flex;
}

.left-side{
    position: relative;
    display: flex;
    justify-content: center;
	align-items: center;
	flex: 4;
	overflow: hidden;
}

.left-side img{

	max-height: 99%;
	object-fit: cover;
}


.theme-head,
.img-credits {
	position: absolute;
}

.theme-head{
    display: flex;
	justify-content: center;
	gap: 1rem;
	align-items: center;
	top: 20%;
	width: 72%;
	padding: 8px;
	background-color: hsla(189, 92%, 19%, 0.348);

    
}

.theme-head h1 {
	color: white;
	margin: 0;
	font-size: 3.7rem;
	font-weight: 200;
}

.theme-head .logo {
	height: 7rem;
	min-width: auto;
	object-fit: contain;
}

.img-credits * {
	justify-self: flex-end;
	color: rgb(255, 255, 255);
	font-size: 0.8rem;
	font-weight: 300;
}

.img-credits {
	bottom: 0%;
}

